{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Information and support

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Information and support</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Information and support</h1>

    <p class="govuk-body-l">Products and technology to help you stay independent and continue to enjoy doing the things you want to do.</p>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Benefits</a></h3>
    <p class="govuk-body">Baby monitors, multi-alterting systems, smoke alarms, and vibrating pads.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Deaf awareness</a></h3>
  <p class="govuk-body">Bluetooth streamers, FM systems, loop systems, remote and table microphones, and speech to text software.
</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Ear health</a></h3>
  <p class="govuk-body">Extension ringers, wireless door chimes, and Wi-Fi doorbells.</p>
</div>
</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Hearing loss</a></h3>
    <p class="govuk-body">Amplified telephones, call indicators, and telephone amplifiers.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="/information-support/products-technology" class="govuk-link">Products and technology</a></h3>
  <p class="govuk-body">Apps, handset amplification, HD voice, MFi technology, and talking keypads.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Tinnitus</a></h3>
  <p class="govuk-body">Relaxation DVDs and CDs, sound relaxers, and tinnitus apps and software.</p>
</div>
</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Work</a></h3>
    <p class="govuk-body">Remote microphones, subtitles, TV listeners and streamers, and wireless headphones.</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">Get help</h2>
<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="#">

            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Chat to us online</h2>
              <p class="nhsuk-promo__description">Whether you need information for yourself or about someone else, our team is online and ready to help.</p>
            </div>
          </a>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="#">

                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Call our information line</h2>
                    <p class="nhsuk-promo__description">Ask our dedicated and professional information line officers about any aspect of deafness, hearing loss or tinnitus.</p>
                  </div>
                </a>
              </div>
                  </div>
      <div class="govuk-grid-column-one-third">
        <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="/information-support/support-services">

                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Find a local service</h2>
                    <p class="nhsuk-promo__description">Our services have been supporting people with hearing loss to live the life they choose since 1929.</p><br>


                  </div>
                </a>
              </div>

            </div>


</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">









{% endblock %}
