{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Our research: Restoring hearing
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/research">Research</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Restoring hearing</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Our research: Restoring hearing
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a href="/restoring-hearing-guide">Overview</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a href="/restoring-hearing-guide/goals">Research goals</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
          Projects

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/restoring-hearing-guide/achievements">Achievements</a>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Our progress</h2>
      <p class="govuk-body">In 2012, our stem cell research led to a major breakthrough in the search to find a way to restore natural hearing. Thanks to your help and support, we were able to fund research where human stem cells were shown to restore hearing in gerbils.</p>

      <p class="govuk-body">Professor Marcelo Rivolta at the University of Sheffield led the study that regrew the auditory nerve cells that had been damaged in the gerbils. Stem cells have the ability to turn into many different types of cell, and were used to regenerate the cells that had been lost.</p>

      <p class="govuk-body">These cells carry signals from the ear to the brain, which allows you to hear. When they were placed into the gerbils’ inner ear, they replaced the damaged cells and restored their hearing.</p>

      <p class="govuk-body">This encouraging research is a major step forward and paves the way to developing treatments in this field. Professor Rivolta is continuing to work in this area to understand more about how this research can be used to restore hearing in humans in the future.</p>

      </div>

      </div>
      <h3 class="govuk-heading-m">Previous</h3><a href="/restoring-hearing-guide/projects">Projects</a>

    </div>


    </div>


{% endblock %}
