{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Our research: Restoring hearing
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Research</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Restoring hearing</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Our research: Restoring hearing
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a href="/restoring-hearing-guide">Overview</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
          Research goals

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="#">Projects</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="#">Acheivements</a>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Our research goals</h2>
      <p class="govuk-body">We fund research to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>identify ways to turn stem cells, which turn into lots of different cell types, into hearing cells</li>
      <li>find out how to change the action of certain genes in the cochlea to create new hearing cells, known as gene therapy</li>
      <li>develop drugs that drive the production of new hearing cells in the cochlea</li>
      <li>improve medical devices such as cochlear implants and hearing aids</li>
    </ul>
    <h3 class="govuk-heading-m">Next</h3><a href="#">Projects</a><br><br>
    <h3 class="govuk-heading-m">Previous</h3><a href="/restoring-hearing-guide">Overview</a>

</div>

</div>

{% endblock %}
