{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Our research: Restoring hearing
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Research</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Restoring hearing</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Our research: Restoring hearing
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Overview
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/restoring-hearing-guide/goals">Research goals</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="#">Projects</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="#">Acheivements</a>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Overview</h2>
  <p class="govuk-body-l">We fund research to find ways to restore hearing in the ear and to improve medical devices to help people hear better.</p>

  <p class="govuk-body">Most hearing loss is caused by damage to part of your inner ear, called the cochlea. Cells in the cochlea, called sensory hair cells and auditory neurons, detect sound and carry signals from the ear to the brain, which allows you to hear.</p>
  <p class="govuk-body">When these cells are damaged, your ear can’t regrow them, which causes hearing loss. This can happen as you grow older, or if you are exposed to very loud noise.</p>
  <p class="govuk-body">There are currently no ways to regrow hearing cells once they’re lost. With your help, we can fund research to identify ways to replace these cells and to improve medical devices such as cochlear implants and hearing aids.</p>
<h3 class="govuk-heading-m">Next</h3><a href="/restoring-hearing-guide/goals">Research goals</a>
</div>

</div>


        
{% endblock %}
