{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Our research: Restoring hearing
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Research</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Restoring hearing</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Our research: Restoring hearing
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a href="/restoring-hearing-guide">Overview</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a href="/restoring-hearing-guide/goals">Research goals</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active">
          Projects

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="#">Acheivements</a>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Our projects</h2>
      <h3 class="govuk-heading-m">Using light to improve cochlear implants</h3>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Project
          </dt>
          <dd class="govuk-summary-list__value">
            Using light to improve cochlear implants
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Researcher
          </dt>
          <dd class="govuk-summary-list__value">
            Professor Rachael Richardson
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where
          </dt>
          <dd class="govuk-summary-list__value">
            Bionics Institute<br>Melbourne<br>Australia
          </dd>
        </div>
      </dl>
      <p class="govuk-body">If you are profoundly deaf, cochlear implants can restore hearing by working in place of hair cells that have been lost. They generate electrical signals that activate auditory nerve cells which carry signals to the brain, which allows you to hear. But it can still be difficult to hear in some situations especially when there is a lot of background noise.</p>
      <p class="govuk-body">Professor Richardson is working to improve cochlear implants by using light, instead of electrical signals, to activate the hearing nerve cells. This could help people with implants hear with a much better and more natural quality of sound.</p>
      <a href="#" class="govuk-link">Find out more about cochlear implants</a>
      

      </div>

      </div>

    </div>

    </div>


{% endblock %}
