{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Doorbells
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/products-technology/">Products</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Doorbells</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Doorbells
  </h1>
  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/products-technology/doorbells">Overview</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Extension bells and ringers
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/products-technology/doorbells/wireless-door-chimes-doorbells">Wireless door chimes and doorbells</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/products-technology/doorbells/wifi-doorbells">Wi-Fi doorbells</a>
        </li>

    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Extension bells and ringers</h2>

  <p class="govuk-body">An extension bell or ringer is something you can add to your existing doorbell to make it louder.</p>
   <p class="govuk-body">You can also add it as a flashing light to alert you. If you have a mains-powered doorbell, a qualified electrician should be able to add this for you.
</p>
  <h3 class="govuk-heading-m">Next</h3><a href="/products-technology/doorbells/wireless-door-chimes-doorbells">Wireless door chimes and doorbells</a><br><br>
<h3 class="govuk-heading-m">Previous</h3><a href="/products-technology/doorbells">Overview</a>
<hr class="govuk-section-break govuk-section-break--m">
<div class="contextual-footer"><h2 class="govuk-heading-m">Related</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Alarms</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Get help paying for technology</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Help using your home phone</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Try out equipment</a>
  </li>
</ul>
</div>

</div>



{% endblock %}
