{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Doorbells
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/products-technology/">Products</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Doorbells</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Doorbells
  </h1>
  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/products-technology/doorbells">Overview</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/products-technology/doorbells/extension-bells-ringers">Extension bells and ringers</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Wireless door chimes and doorbells
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/products-technology/doorbells/wifi-doorbells">Wi-Fi doorbells</a>
        </li>

    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Wireless door chimes and doorbells</h2>

  <p class="govuk-body">A wireless door chime or doorbell is a type of doorbell that comes in two parts:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>A transmitter that acts like a traditional doorbell. You fix it to a front door or porch and it has a button that someone will push when they use it. It is normally battery-operated and weather-proof</li>
    <li>A device that acts as a receiver that chimes or plays a melody when someone pushes the doorbell. You can then place it anywhere in the house to allow you to hear it better. You can power it by batteries or by plugging it into a mains socket.</li>
  </ul>
  <p class="govuk-body">You shouldn’t use mains electricity powered equipment in bathrooms or outdoors. Make sure you read the manufacturer's instructions.</p>
  <p class="govuk-body">Other features can include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a light that flashes when someone pushes the doorbell</li>
    <li>a pad that vibrates when someone pushes the doorbell</li>
    <li>volume control</li>
    <li>a selection of sounds and musical melodies to choose from, as some may be easier for you to hear than others</li>
  </ul>

  <h3 class="govuk-heading-m">Next</h3><a href="/products-technology/doorbells/wifi-doorbells">Wi-Fi doorbells</a><br><br>
<h3 class="govuk-heading-m">Previous</h3><a href="/products-technology/doorbells/extension-bells-ringers">Extension bells and ringers</a>
<hr class="govuk-section-break govuk-section-break--m">
<div class="contextual-footer"><h2 class="govuk-heading-m">Related</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Alarms</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Get help paying for technology</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Help using your home phone</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Try out equipment</a>
  </li>
</ul>
</div></div>

</div>



{% endblock %}
