{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Products and technology

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Products</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Products and technology</h1>

    <p class="govuk-body-l">Products and technology to help you stay independent and enjoy doing the things you want to do.</p>

<h2 class="govuk-heading-l">A</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Ampified telephone</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">B</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Baby monitor</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Bluetooth streamer</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">C</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Call indicators</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Certified loops</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">E</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Emergency SMS</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Extension ringers</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">F</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">FM systems</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">H</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Handset amplification</a>
  </li>
  <li>
    <a class="govuk-link" href="#">HD voice</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Hearing aid apps</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Hearing aid TV streamers</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Home monitors</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">I</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Induction loop systems</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">L</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Loop systems</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Lower pitch smoke alarms</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">M</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">MFi technology</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Multi-alerting systems</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">N</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Neckloop receivers</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">P</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Pitch adjustable alarms</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">R</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Remote microphones</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">S</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Speech to text software</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">T</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Table microphone</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Talking keypad</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Telephone amplifier</a>
  </li>
  <li>
    <a class="govuk-link" href="#">TV camera</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">V</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Vibrating pads</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Vibrating pagers</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--m">
<h2 class="govuk-heading-l">W</h2>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Wireless doorchimes</a>
  </li>
  <li>
    <a class="govuk-link" href="/products-technology/wifi-doorbells">Wireless doorbells</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Wireless headphones</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Wireless microphone transmiter</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Wireless TV listeners</a>
  </li>
</ul>
</div>
</div>

{% endblock %}
