{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Products and technology

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Products</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Products and technology</h1>

    <p class="govuk-body-l">Products and technology to help you stay independent and continue to enjoy doing the things you want to do.</p>
</div>



  <div class="govuk-grid-column-two-thirds">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper list" href="#">


            <div class="nhsuk-promo__content list">
              <h2 class="nhsuk-promo__heading">Alarms</h2>
              <p class="nhsuk-promo__description">Lower pitch, multi-alert, and pitch adjustable alarms.</p>


            </div>
          </a>
        </div>
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper list" href="#">


                  <div class="nhsuk-promo__content list">
                    <h2 class="nhsuk-promo__heading">Apps</h2>
                    <p class="nhsuk-promo__description">Hearing aid and tinnitus apps.</p>


                  </div>
                </a>
        </div>
  <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper list" href="/products-technology/doorbells">


                        <div class="nhsuk-promo__content list">
                          <h2 class="nhsuk-promo__heading">Doorbells</h2>
                          <p class="nhsuk-promo__description">Wireless doorbells and chimes.</p>


                        </div>
                      </a>
  </div>
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper list" href="#">


                  <div class="nhsuk-promo__content list">
                    <h2 class="nhsuk-promo__heading">Headphones</h2>
                    <p class="nhsuk-promo__description">Wireless headphones.</p>


                  </div>
                </a>
        </div>
        <div class="nhsuk-promo">
                            <a class="nhsuk-promo__link-wrapper list" href="#">


                              <div class="nhsuk-promo__content list">
                                <h2 class="nhsuk-promo__heading">Hearing aids</h2>
                                <p class="nhsuk-promo__description">Behind-the-ear hearing aids
In-ear and in-canal, invisible, bone conduction and CROS and BiCROS hearing aids.
</p>


                              </div>
                            </a>
        </div>
  <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper list" href="#">


                        <div class="nhsuk-promo__content list">
                          <h2 class="nhsuk-promo__heading">Hearing loops</h2>
                          <p class="nhsuk-promo__description">Certified loop and telecoil functions, induction loops, loop systems and receivers.</p>


                        </div>
                      </a>
  </div>
  <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper list" href="#">


                        <div class="nhsuk-promo__content list">
                          <h2 class="nhsuk-promo__heading">Implants</h2>
                          <p class="nhsuk-promo__description">Cochlear and auditory brainstem implants.</p>


                        </div>
                      </a>
  </div>
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper list" href="#">


            <div class="nhsuk-promo__content list">
              <h2 class="nhsuk-promo__heading">Microphones</h2>
              <p class="nhsuk-promo__description">Remote and table microphones, and FM systems.</p>


            </div>
          </a>
        </div>
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper list" href="#">


                  <div class="nhsuk-promo__content list">
                    <h2 class="nhsuk-promo__heading">Monitors</h2>
                    <p class="nhsuk-promo__description">Baby and home monitors.</p>


                  </div>
                </a>
        </div>
  <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper list" href="#">


                        <div class="nhsuk-promo__content list">
                          <h2 class="nhsuk-promo__heading">Pagers</h2>
                          <p class="nhsuk-promo__description">Vibrating pads and pagers.</p>


                        </div>
                      </a>
  </div>
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper list" href="#">


            <div class="nhsuk-promo__content list">
              <h2 class="nhsuk-promo__heading">Phone amplifiers</h2>
              <p class="nhsuk-promo__description">Extension ringers, and phone and handset amplifiers.</p>


            </div>
          </a>
        </div>
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper list" href="#">


                  <div class="nhsuk-promo__content list">
                    <h2 class="nhsuk-promo__heading">Phone settings</h2>
                    <p class="nhsuk-promo__description">Emergency SMS, HD Voice, MFi technology and talking keypads.</p>


                  </div>
                </a>
        </div>
  <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper list" href="#">


                        <div class="nhsuk-promo__content list">
                          <h2 class="nhsuk-promo__heading">Speech to text</h2>
                          <p class="nhsuk-promo__description">Speech to text (STT) software.</p>


                        </div>
                      </a>
  </div>
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper list" href="#">


            <div class="nhsuk-promo__content list">
              <h2 class="nhsuk-promo__heading">Streamers</h2>
              <p class="nhsuk-promo__description">TV and hearing aid streamers and listeners.</p>


            </div>
          </a>
        </div>
        <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper list" href="#">


                  <div class="nhsuk-promo__content list">
                    <h2 class="nhsuk-promo__heading">Subtitles</h2>
                    <p class="nhsuk-promo__description">Subtitles and signing on TV and films.</p>


                  </div>
                </a>
              </div>


        </div>

</div>


{% endblock %}
