{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Wifi doorbells
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Products</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Wifi doorbells</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Wifi doorbells
  </h1>
  <img class="nhsuk-promo__img" src="/public/images/doorbell.png" alt="A wifi-doorbell"><p class="govuk-caption-m">
    A wifi doorbell.
  </p><br><br>

  <p class="govuk-body-l"> Wifi doorbells let you know when someone is at the door by sending a notification to your smartphone or tablet.</p>

  <p class="govuk-body">They work by connecting to the internet through your home Wi-Fi and they are set up and controlled from an app on your smartphone or tablet.</p>
  <h2 class="govuk-heading-l">Who they're suitable for</h2>
  <p class="govuk-body">People who find it difficult to hear the door in other parts of their home.</p>
  <h2 class="govuk-heading-l">How they work</h2>
  <p class="govuk-body">Wi-Fi doorbells often have more features than traditional wired or wireless doorbells and door chimes. They may have a camera built into the door push so that you can see who is at the door on your smartphone or tablet.
</p>
  <p class="govuk-body">Most have an intercom feature so that you can talk to the person at the door (and they can hear you). Some have a motion sensor to let you know when someone is at the door, even if they haven’t rung the bell.</p>
  <p class="govuk-body">Some Wi-Fi doorbells have separate Wi-Fi connected chimes (usually sold as an optional extra). They plug into a mains wall socket and you can have as many as you need. They provide a chime sound in addition to the notification on your smartphone or tablet.</p>
  <p class="govuk-body">When using any device that connects to the internet (whether a Wi-Fi doorbell, smartphone, tablet or computer), make sure you know how to stay safe from hackers and protect your personal details.</p>
  <hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-panel govuk-panel--confirmation">
  <h2 class="govuk-heading-l">Tips for staying safe online</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>Have a unique password for each online account and make it as strong as possible, with a mix of lower- and upper-case letters, numbers and special characters such as # _ *.</li>
  <li>Make sure your Wi-Fi is secure – only give your Wi-Fi password to those you trust (the Wi-Fi signal in your home travels very short distances – but your neighbours next door or across the road may still pick it up).</li>
  <li>Keep your software (for example, your apps) updated. This way, you’ll have the latest security protection on your device. In many cases, apps associated with devices will notify you if a software upgrade is needed, or do it automatically.</li>
</ul>
</div>
<hr class="govuk-section-break govuk-section-break--m">

<h2 class="govuk-heading-l">Get help with paying for equipment</h2>
<p class="govuk-body">Social services may help to pay
for or provide equipment.<p>
  <p class="govuk-body">The government’s Access to Work scheme may help to pay for equipment you need at work or at home.<p>
    <p class="govuk-body">The Equality Act 2010 may require service providers, such as hospitals and GP surgeries, to provide equipment. <p>

</div>

</div>



{% endblock %}
