{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Get help with hearing aids

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Information and support</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Support services</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Get help with hearing aids</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Get help with hearing aids</h1>

    <p class="govuk-body">Our hearing aid support service helps people get the most out of their NHS hearing aids. We run the service in partnership with NHS audiology services across the UK.</p>
    <div class="govuk-inset-text">
      The coronavirus (COVID-19) outbreak means we’ve paused our drop-in clinics and home visits, but we’re still here to help if you have any trouble with your hearing aids.
    </div>
    <h2 class="govuk-heading-l">How we can help</h2>
    <p class="govuk-body">If you already use our hearing aid support service, we may be able to send you new hearing aid batteries and tubing by post.</p>
    <p class="govuk-body">We can also give you information on:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>what your audiology service can help with during the coronavirus outbreak</li>
<li>replace hearing aid tubing</li>
<li>how to look after and clean your hearing aids</li>
<li>what to try if you are having a problem with your hearing aids</li>
<li>hearing loss and the assistive devices and technology that can help</li>
<li>what other local services and organisations can help.</li>
</ul>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Find support near you</h2>
</div>
    <form action="/coronavirus-edit/get-help-with-hearing-aids/find-a-local-hearing-aids-service" method="get" role="search" >
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <input class="govuk-input" id="location-search" name="location-search" type="search" placeholder="Enter a town, city or postcode">
</div>
  </div>
  <div class="govuk-grid-column-one-third">
    <button class="govuk-button search" data-module="govuk-button" type="submit">
    Search
  </button>
  </div>
  </form>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">See our online information
</h2>
<p class="govuk-body">Find out how to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="https://beta.actiononhearingloss.org.uk/coronavirus-response/what-to-do-if-your-hearing-aids-need-adjusting-or-repairing-during-the-coronavirus-outbreak/">adjust or repair your hearing aid</a>
  </li>
  <li>
    <a class="govuk-link" href="https://beta.actiononhearingloss.org.uk/coronavirus-response/how-to-keep-your-hearing-aids-clean-during-the-coronavirus-outbreak/">clean your hearing aid.</a>
  </li>
</ul></div></div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">














{% endblock %}
