{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Information and support

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Information and support</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Information and support</h1>

</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--l">
<h2 class="govuk-heading-l">Browse information by topic</h2>
<hr class="govuk-section-break govuk-section-break--l">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Benefits</a></h3>
    <p class="govuk-body">If you are Deaf or have hearing loss or tinnitus, you may be able to claim disability benefits and discounts. </p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Deaf awareness</a></h3>
  <p class="govuk-body">There are 12 million people in the UK who have hearing loss and 151,000 people who are Deaf and use British Sign Language. Learn more, so you don’t unknowingly exclude anyone.
</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Ear health</a></h3>
  <p class="govuk-body">Check your hearing, learn about common ear problems, and find out how to protect your hearing from loud noise.</p>
</div>
</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Hearing loss</a></h3>
    <p class="govuk-body">Find out about hearing loss and what can help you to manage it, including hearing aids and communication support.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="/information-support-1/products-technology" class="govuk-link">Products and technology</a></h3>
  <p class="govuk-body">Find out what assistive technology and products you might benefit from, from conversation listeners to tinnitus apps.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Tinnitus</a></h3>
  <p class="govuk-body">Tinnitus is the perception of noise in one ear, both ears or in the head. FInd out more about tinnitus and how to manage it.</p>
</div>
</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Work</a></h3>
    <p class="govuk-body">Employers need to make reasonable adjustments in the workplace for people who are Deaf or have hearing loss. Find out what this means for employees and employers.</p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">


      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Find local support</h2>
        <p class="govuk-body">We provide information and support in communities across the UK.</p>
        <p class="govuk-body"><a href="/information-support-1/support-services" class="govuk-link">Find out more about our services</a></p>

            </div><br><br>
            <div class="govuk-grid-column-one-half">
              <h2 class="govuk-heading-m">Contact our helpline</h2>
              <p class="govuk-body">We provide free, confidential information and support.</p>

<dl class="govuk-summary-list govuk-summary-list--no-border">
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Chat
  </dt>
  <dd class="govuk-summary-list__value">
<span style="text-decoration:underline">Chat to us online</span>  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
Email  </dt>
  <dd class="govuk-summary-list__value">
    <span style="text-decoration:underline">helpline@hearingloss.org.uk</span>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
Call </dt>
  <dd class="govuk-summary-list__value">
0808 808 0123
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
<span style="text-decoration:underline">Relay UK</span></dt>
  <dd class="govuk-summary-list__value">
  18001 then 0808 0123
  </dd>
</div>
</dl>
                  </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">









{% endblock %}
