{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Coffee morning volunteer
{% endblock %}


{% block beforeContent %}
<a href="/volunteer/opportunities?location-search={{ data['location-search'] }}" class="govuk-back-link">Back to search results</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Coffee morning volunteer
  </h1>
  <p class="govuk-body-l">
Provide support and friendship to people affected by hearing loss or tinnitus at our Hear to Meet coffee mornings.</p>

  <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Where
    </dt>
    <dd class="govuk-summary-list__value">
      Highbhury
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      When
    </dt>
    <dd class="govuk-summary-list__value">
      2 days a month, depending on your availability
    </dd>
  </div>
</dl>

<div class="govuk-inset-text">
  You need to be 16 or over for this role.
</div>

<a role="button" class="govuk-button" data-module="govuk-button" href="/volunteer/name">
  Apply</a>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">What you'll be doing</h2>

<p class="govuk-body">As a Hear to meet volunteer you will</p>
<ul class="govuk-list govuk-list--bullet">
  <li>help staff set up the venue before our coffee morning</li>
  <li>welcome group members when they arrive</li>
  <li>serve tea and coffee to people throughout the coffee morning</li>
  <li>listen and chat with group members, their friends and family</li>
  <li>share your own experiences of deafness, tinnitus or hearing loss</li>
  <li>promote the Hear to meet group in the area</li>
  <li>promote the work of the sensory service</li>
  <li>assist with paperwork when necessary</li>
</ul>

<h2 class="govuk-heading-l">What you need</h2>

<p class="govuk-body">It would be good if you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>have knowledge of, or are willing to learn about, issues affecting Deaf people, or people who have tinnitus or hearing loss</li>
  <li>are able to communicate clearly</li>
  <li>have an interest in working for charities</li>
  <li>are friendly and approachable</li>
  <li>are sensitive towards other people</li>
  <li>are reliable, trustworthy and honest</li>
  <li>are open-minded and non-judgemental</li>
</ul>

<h2 class="govuk-heading-l">What you'll get in return</h2>

<p class="govuk-body">As a volunteer you'll:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>make a real difference to the people you support</li>
  <li>help us run this important service</li>
  <li>receive training and learn new skills</li>
  <li>meet people in different situations</li>
  <li>raise awareness of deafness in the community</li>
  <li>get travel expenses reimbursed</li>
</ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">Find out more and apply</h2>

<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      volunteering@hearingloss.org.uk
    </dd>
  </div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Phone
  </dt>
  <dd class="govuk-summary-list__value">
    01273 840960
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a href="https://www.relayuk.bt.com">Relay UK</a>
  </dt>
  <dd class="govuk-summary-list__value">
    18001 then 01273 840960
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Post
  </dt>
  <dd class="govuk-summary-list__value">
    Volunteering Development<br>Action on Hearing Loss<br>Community Base<br>113 Queens Road<br>Brighton<br>BN1 3XG
  </dd>
</div>
</dl>

<a role="button" class="govuk-button" data-module="govuk-button" href="/volunteer/name">
  Apply</a>

</div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-l">Others ways you can help</h3>
  <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
                        <div class="nhsuk-promo">
                                      <a class="nhsuk-promo__link-wrapper" href="#">
                                        <div class="nhsuk-promo__content">
                                          <h2 class="nhsuk-promo__heading">Technology demonstrator volunteer</h2>
                                          <p class="nhsuk-promo__description">Show people who are deaf, hard of hearing or who have tinnitus how to use equipment.</p>
                                          <dl class="govuk-summary-list govuk-summary-list--no-border">
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Where
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              Highbury
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              When
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              2 hours on Tuesdays and Thursdays
                                            </dd>
                                          </div>
                                          </dl>
                                        </div>
                                      </a>
                                    </div>
            </div>
<div class="govuk-grid-column-one-half">
                                    <div class="nhsuk-promo">
                                                  <a class="nhsuk-promo__link-wrapper" href="#">
                                                    <div class="nhsuk-promo__content">
                                                      <h2 class="nhsuk-promo__heading">Facilities assistant volunteer</h2>
                                                      <p class="nhsuk-promo__description">Welcome visitors and help look after the building at our head office in Highbury.</p>
                                                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          Where
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          Highbury
                                                        </dd>
                                                      </div>
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          When
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          4 hours a week, Monday to Friday
                                                        </dd>
                                                      </div>
                                                      </dl>
                                                    </div>
                                                  </a>
                                                </div>
            </div>
  </div>
{% endblock %}
