{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Adopt a tin volunteer
{% endblock %}


{% block beforeContent %}
<a href="/volunteer/opportunities?location-search={{ data['location-search'] }}" class="govuk-back-link">Back to search results</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Adopt a tin volunteer
  </h1>
  <p class="govuk-body-l">
    Help us raise funds for vital services with collection tins in your area.
  </p>

  <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Where
    </dt>
    <dd class="govuk-summary-list__value">
      Around your local area
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      When
    </dt>
    <dd class="govuk-summary-list__value">
      Weekdays or weekends depending on your availability
    </dd>
  </div>
</dl>

<div class="govuk-inset-text">
  You need to be 16 or over for this role.
</div>

<a role="button" class="govuk-button" data-module="govuk-button" href="/volunteer/name">
  Apply</a>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">What you'll be doing</h2>

<p class="govuk-body">As an Adopt a tin volunteer you will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be an ambassador for the charity in your local area</li>
  <li>approach businesses by to ‘adopt a tin’ by displaying a collection tin</li>
  <li>deliver tins to businesses</li>
  <li>collect full tins and return them to our head office</li>
  <li>replace full tins with an empty one</li>
  <li>keep accurate records of your collection tins</li>
</ul>

<h2 class="govuk-heading-l">What you need</h2>

<p class="govuk-body">It would be good if you:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>have good communication and interpersonal skills</li>
  <li>can motivate people to support Action on Hearing Loss</li>
  <li>have knowledge of your local area</li>
  <li>have a network of contacts in your area</li>
</ul>

<h2 class="govuk-heading-l">What you'll get in return</h2>

<p class="govuk-body">As a volunteer you'll:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>help fund vital services that make a real difference to peoples’ lives</li>
  <li>get regular one-to-one support from our fundraising manager</li>
  <li>receive training and learn new skills</li>
  <li>meet people from different backgrounds</li>
  <li>raise awareness of hearing loss in the community</li>
  <li>have the opportunity to try other volunteering roles within Action on Hearing Loss</li>
</ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">Find out more and apply</h2>

<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      volunteering@hearingloss.org.uk
    </dd>
  </div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Phone
  </dt>
  <dd class="govuk-summary-list__value">
    01273 840960
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a href="https://www.relayuk.bt.com">Relay UK</a>
  </dt>
  <dd class="govuk-summary-list__value">
    18001 then 01273 840960
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Post
  </dt>
  <dd class="govuk-summary-list__value">
    Volunteering Development<br>Action on Hearing Loss<br>Community Base<br>113 Queens Road<br>Brighton<br>BN1 3XG
  </dd>
</div>
</dl>

<a role="button" class="govuk-button" data-module="govuk-button" href="/volunteer/name">
  Apply</a>

</div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-l">Others ways you can help</h3>
  <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
                        <div class="nhsuk-promo">
                                      <a class="nhsuk-promo__link-wrapper" href="#">
                                        <div class="nhsuk-promo__content">
                                          <h2 class="nhsuk-promo__heading">Technology demonstrator volunteer</h2>
                                          <p class="nhsuk-promo__description">Show people who are deaf, hard of hearing or who have tinnitus how to use equipment.</p>
                                          <dl class="govuk-summary-list govuk-summary-list--no-border">
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Where
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              Highbury
                                            </dd>
                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              When
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              2 hours on Tuesdays and Thursdays
                                            </dd>
                                          </div>
                                          </dl>
                                        </div>
                                      </a>
                                    </div>
            </div>
<div class="govuk-grid-column-one-half">
                                    <div class="nhsuk-promo">
                                                  <a class="nhsuk-promo__link-wrapper" href="#">
                                                    <div class="nhsuk-promo__content">
                                                      <h2 class="nhsuk-promo__heading">Facilities assistant volunteer</h2>
                                                      <p class="nhsuk-promo__description">Welcome visitors and help look after the building at our head office in Highbury.</p>
                                                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          Where
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          Highbury
                                                        </dd>
                                                      </div>
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          When
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          4 hours a week, Monday to Friday
                                                        </dd>
                                                      </div>
                                                      </dl>
                                                    </div>
                                                  </a>
                                                </div>
            </div>
  </div>
{% endblock %}
