{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Volunteer with Action on Hearing Loss

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Volunteer</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Volunteer with Action on Hearing Loss</h1>

    <p class="govuk-body-l">Volunteering is a great way to make a big difference for Deaf people, or people who have hearing loss or tinnitus.</p>
    <p class="govuk-body-l">There are lots of ways you can volunteer with us. Whatever you choose, you’ll gain confidence, new skills and experience.</p>

</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Find a volunteer opportunity</h2>
<p class="govuk-body">You can volunteer in your local community or even from your home.</p>
</div>
    <form action="/volunteer/opportunities" method="get" role="search" >
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <input class="govuk-input" id="location-search" name="location-search" type="search" placeholder="Enter a town, city or postcode">
</div>
  </div>
  <div class="govuk-grid-column-one-third">
    <button class="govuk-button search" data-module="govuk-button" type="submit">
    Search
  </button>
  </div>
  </form>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
<div class="nhsuk-promo">
              <a class="nhsuk-promo__link-wrapper" href="/volunteer/reasons-to-volunteer">


           <img class="nhsuk-promo__img" src="/public/images/why-volunteer.png" alt="Reasons to volunter">

                <div class="nhsuk-promo__content">
                  <h2 class="nhsuk-promo__heading">Reasons to volunter</h2>
                  <p class="nhsuk-promo__description">See the benefits of volunteering with us.</p>


                </div>
              </a>
            </div>

            </div>
                        <div class="govuk-grid-column-one-half">
                        <div class="nhsuk-promo">
                                      <a class="nhsuk-promo__link-wrapper" href="/volunteer/what-it-is-like-to-volunteer">


                                          <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                                        <div class="nhsuk-promo__content">
                                          <h2 class="nhsuk-promo__heading">What it's like to volunteer</h2>

                                            <p class="nhsuk-promo__description">Find out why our volunteers love what they do.</p>

                                        </div>
                                      </a>
                                    </div>
                                    </div>
                                    </div>




  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h3 class="govuk-heading-m">Find out more and apply</h3>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email
      </dt>
      <dd class="govuk-summary-list__value">
        volunteering@hearingloss.org.uk
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Phone
      </dt>
      <dd class="govuk-summary-list__value">
        01273 840960
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a href="https://www.relayuk.bt.com">Relay UK</a>
      </dt>
      <dd class="govuk-summary-list__value">
        18001 then 01273 840960
      </dd>
    </div>
  </dl>


                                                                </div>
    </div>



{% endblock %}
