{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Volunteer opportunities

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/volunteer">Volunteer</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Opportunties</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Find a volunteering opportunity</h1>


</div>
  <div class="govuk-grid-column-two-thirds">
    <form action="/volunteer/opportunities" method="get" role="search" >
    <div class="govuk-form-group">
  <input class="govuk-input" id="location-search" name="location-search" type="search" placeholder="Enter a town, city or postcode" value="{{ data['location-search'] }}">
</div>
  </div>
  <div class="govuk-grid-column-one-third">
    <button class="govuk-button search" data-module="govuk-button">
    Search
  </button>
  </div>
  </form>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-l">56 results</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
                          <div class="nhsuk-promo">
                                        <a class="nhsuk-promo__link-wrapper" href="#">
                                          <div class="nhsuk-promo__content">
                                            <h2 class="nhsuk-promo__heading">Information volunteer</h2>
                                            <p class="nhsuk-promo__description"> Help grow our information services for older and isolated people living with hearing losss.</p>
                                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                Where
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                Various locations
                                              </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                When
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                Weekdays or weekends depending on your availability
                                              </dd>
                                            </div>
                                            </dl>
                                          </div>
                                        </a>
                                      </div>
              </div>
  <div class="govuk-grid-column-one-half">
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="/volunteer/collection-tin-volunteer">
                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Collection tin volunteer</h2>
                    <p class="nhsuk-promo__description">Help us raise funds for vital services with collection tins in your area.</p>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Where
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Around your local area
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        When
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Weekdays or weekends depending on your availability
                      </dd>
                    </div>
                    </dl>
                  </div>
                </a>
              </div>
              </div>

                          </div>
                            <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="/volunteer/befriending-volunteer-london">
                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                    <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Where
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Clapham
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        When
                      </dt>
                      <dd class="govuk-summary-list__value">
                        1 day a week, Monday to Sunday
                      </dd>
                    </div>
                    </dl>
                  </div>
                </a>
              </div>
              </div>
  <div class="govuk-grid-column-one-half">
                          <div class="nhsuk-promo">
                                        <a class="nhsuk-promo__link-wrapper" href="#">
                                          <div class="nhsuk-promo__content">
                                            <h2 class="nhsuk-promo__heading">Hearing aid support volunteer</h2>
                                            <p class="nhsuk-promo__description">Help people with their hearing aids at one of our clinics.</p>
                                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                Where
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                Hackney
                                              </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                When
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                3 hours a month, Monday to Friday
                                              </dd>
                                            </div>
                                            </dl>
                                          </div>
                                        </a>
                                      </div>
              </div>
              </div>
                <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
              <div class="nhsuk-promo">
                            <a class="nhsuk-promo__link-wrapper" href="/volunteer/coffee-morning-volunteer">
                              <div class="nhsuk-promo__content">
                                <h2 class="nhsuk-promo__heading">Coffee morning volunteer</h2>
                                <p class="nhsuk-promo__description">Provide support and friendship at our Hear to Meet coffee mornings.</p>
                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Where
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Higbury
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    When
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    2 days a month, depending on your availability
                                  </dd>
                                </div>
                                </dl>
                              </div>
                            </a>
                          </div>
                          </div>
  <div class="govuk-grid-column-one-half">
                          <div class="nhsuk-promo">
                                        <a class="nhsuk-promo__link-wrapper" href="#">
                                          <div class="nhsuk-promo__content">
                                            <h2 class="nhsuk-promo__heading">Technology demonstrator volunteer</h2>
                                            <p class="nhsuk-promo__description">Show people who are deaf, hard of hearing or who have tinnitus how to use equipment.</p>
                                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                Where
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                Highbury
                                              </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                              <dt class="govuk-summary-list__key">
                                                When
                                              </dt>
                                              <dd class="govuk-summary-list__value">
                                                2 hours on Tuesdays and Thursdays
                                              </dd>
                                            </div>
                                            </dl>
                                          </div>
                                        </a>
                                      </div>
              </div>
              </div>
                <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
                                      <div class="nhsuk-promo">
                                                    <a class="nhsuk-promo__link-wrapper" href="#">
                                                      <div class="nhsuk-promo__content">
                                                        <h2 class="nhsuk-promo__heading">Facilities assistant volunteer</h2>
                                                        <p class="nhsuk-promo__description">Welcome visitors and help look after the building at our head office in Highbury.</p>
                                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key">
                                                            Where
                                                          </dt>
                                                          <dd class="govuk-summary-list__value">
                                                            Highbury
                                                          </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key">
                                                            When
                                                          </dt>
                                                          <dd class="govuk-summary-list__value">
                                                            4 hours a week, Monday to Friday
                                                          </dd>
                                                        </div>
                                                        </dl>
                                                      </div>
                                                    </a>
                                                  </div>
              </div>

  <div class="govuk-grid-column-one-half">
                                      <div class="nhsuk-promo">
                                                    <a class="nhsuk-promo__link-wrapper" href="#">
                                                      <div class="nhsuk-promo__content">
                                                        <h2 class="nhsuk-promo__heading">Tinnitus social group volunteer</h2>
                                                        <p class="nhsuk-promo__description">Support people affected by deafness, tinnitus and hearing loss and visual impairment.</p>
                                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key">
                                                            Where
                                                          </dt>
                                                          <dd class="govuk-summary-list__value">
                                                            Redbridge
                                                          </dd>
                                                        </div>
                                                        <div class="govuk-summary-list__row">
                                                          <dt class="govuk-summary-list__key">
                                                            When
                                                          </dt>
                                                          <dd class="govuk-summary-list__value">
                                                            Monday to Friday during working hours
                                                          </dd>
                                                        </div>
                                                        </dl>
                                                      </div>
                                                    </a>
                                                  </div>
              </div>
              </div>
              <div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">
                                    <div class="nhsuk-promo">
                                                  <a class="nhsuk-promo__link-wrapper" href="#">
                                                    <div class="nhsuk-promo__content">
                                                      <h2 class="nhsuk-promo__heading">Event manager volunteer</h2>
                                                      <p class="nhsuk-promo__description">Organise an event or events that appeal to you, your network and your community.</p>
                                                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          Where
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          South East
                                                        </dd>
                                                      </div>
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          When
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          Flexible depending on the event or events you plan
                                                        </dd>
                                                      </div>
                                                      </dl>
                                                    </div>
                                                  </a>
                                                </div>
            </div>

<div class="govuk-grid-column-one-half">
                                    <div class="nhsuk-promo">
                                                  <a class="nhsuk-promo__link-wrapper" href="#">
                                                    <div class="nhsuk-promo__content">
                                                      <h2 class="nhsuk-promo__heading">Book club volunteer</h2>
                                                      <p class="nhsuk-promo__description">Support people affected by deafness, tinnitus and hearing loss and visual impairment.</p>
                                                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          Where
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          South East
                                                        </dd>
                                                      </div>
                                                      <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                          When
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                          4 hours per month between Monday and Friday
                                                        </dd>
                                                      </div>
                                                      </dl>
                                                    </div>
                                                  </a>
                                                </div>
            </div>
            </div>
  <h3 class="govuk-heading-m">Next page</h3><a href="#">2 of 6</a>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



  <h3 class="govuk-heading-m">Find out more and apply</h3>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email
      </dt>
      <dd class="govuk-summary-list__value">
        volunteering@hearingloss.org.uk
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Phone
      </dt>
      <dd class="govuk-summary-list__value">
        01273 840960
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <a href="https://www.relayuk.bt.com">Relay UK</a>
      </dt>
      <dd class="govuk-summary-list__value">
        18001 then 01273 840960
      </dd>
    </div>

  </dl>




                                                              </div>
    </div>



{% endblock %}
