{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  What it’s like to volunteer with Action on Hearing Loss
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/volunteer">Volunteer</a></li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">What it's like to volunteer</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    What it's like to volunteer at Action on Hearing Loss
  </h1>
  <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png">
  <hr class="govuk-section-break govuk-section-break--l">

  <p class="govuk-body">
Our incredible volunteers make a huge difference to the lives of Deaf people, or people who have hearing loss or tinnitus.</p>

<h2 class="govuk-heading-l">Karl’s volunteering story: "It’s really wonderful"</h2>
<p class="govuk-body">Karl and his wife started volunteering after they both experienced hearing loss. Together, they now run a hearing aid clinic in Essex.</p>
<p class="govuk-body">Karl says:</p>
<div class="govuk-inset-text">
  "I highly recommend getting involved in Action on Hearing Loss. It gives me lots and lots of confidence about my hearing loss and it’s very fulfilling."
</div>
<h3 class="govuk-heading-m">Watch Karl’s video to see what he loves most about volunteering (2 minutes 8 seconds)</h3>
<img class="nhsuk-promo__img" src="/public/images/image-placeholder.png"><br><br>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Video transcript
    </span>
  </summary>
  <div class="govuk-details__text">
  </div>
</details>
<h2 class="govuk-heading-l">Our volunteers recommend Action on Hearing Loss</h2>

<p class="govuk-body">In our last survey, over 90% of our volunteers said they would recommend us as a good place to volunteer.</p>
<p class="govuk-body">One person said:</p>
<div class="govuk-inset-text">
  "Since volunteering I have regained a sense of purpose in my life and I feel able to try new things, personally and professionally. I’ve learned so much."
</div>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/volunteer/opportunities">


       <img class="nhsuk-promo__img" src="/public/images/ways-to-volunteer.png" alt="Find a volunteer role">

            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Find a volunteer role</h2>
              <p class="nhsuk-promo__description">Search for opportunities near you.</p>


            </div>
          </a>
        </div>

        </div>
<div class="govuk-grid-column-one-third">
<div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/volunteer/reasons-to-volunteer">


     <img class="nhsuk-promo__img" src="/public/images/why-volunteer.png" alt="Reasons to volunter">

          <div class="nhsuk-promo__content">
            <h2 class="nhsuk-promo__heading">Reasons to volunter</h2>
            <p class="nhsuk-promo__description">See the benefits of volunteering with us.</p>


          </div>
        </a>
      </div>

      </div>
                  <div class="govuk-grid-column-one-third">
                  <div class="nhsuk-promo">
                                <a class="nhsuk-promo__link-wrapper" href="/volunteer/what-it-is-like-to-volunteer">


                                    <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                                  <div class="nhsuk-promo__content">
                                    <h2 class="nhsuk-promo__heading">Become a campaigner</h2>

                                      <p class="nhsuk-promo__description">Join us to make change happen.</p>

                                  </div>
                                </a>
                              </div>
                              </div>

                              </div>
                              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                              <h3 class="govuk-heading-m">Find out more and apply</h3>
                              <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Email
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    volunteering@hearingloss.org.uk
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Phone
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    01273 840960
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    <a href="https://www.relayuk.bt.com">Relay UK</a>
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    18001 then 01273 840960
                                  </dd>
                                </div>

                              </dl>
{% endblock %}
