{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Support near

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/information-support">Information and support</a>
    </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/information-support/support-services">Support services</a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">Find a local service</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Support near {{ data['location-search'] }} </h1>
</div>
    <form action="/information-support/support-services/find-a-local-service" method="get" role="search" >
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <input class="govuk-input" id="location-search" name="location-search" type="search" placeholder="Enter a town, city or postcode" value="{{ data['location-search'] }}">
</div>
  </div>
  <div class="govuk-grid-column-one-third">
    <button class="govuk-button search" data-module="govuk-button" type="submit">
    Search
  </button>
  </div>
  </form>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
</div>
</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">0.1 miles</p>
    <h3 class="govuk-heading-m"><a href="#">Resource room - Islington</a></h3>
    <p class="govuk-body">Try before you buy with a product demonstration at one of our information and resource rooms.</p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Where
      </dt>
      <dd class="govuk-summary-list__value">
        1-3 Highbury Station Road<br>
London<br>
N1 1SE<br><a href="#" class="govuk-link">Get directions</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        When
      </dt>
      <dd class="govuk-summary-list__value">
        Tuesdays from 10am to 12pm and  Thursdays from 2pm to 4pm<br>
Please call or email to make an appointment

      </dd>
    </div>
    </dl>
    </div>
    </div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">2.1 miles</p>
    <h3 class="govuk-heading-m"><a href="/information-support/support-services/hear-help-shoreditch">Hear to help - Shoreditch</a></h3>
    <p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Where
      </dt>
      <dd class="govuk-summary-list__value">
        Shoreditch Trust Healthy Living Centre<br>170 Pitfield Street<br>London<br>N1 6JP<br><a href="#" class="govuk-link">Get directions</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        When
      </dt>
      <dd class="govuk-summary-list__value">
        1st Tuesday of every month from 2pm to 4pm<br>No appointment needed

      </dd>
    </div>
    </dl>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">2.3 miles</p>
        <h3 class="govuk-heading-m"><a href="#">Hear to help - Barton House</a></h3>
        <p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

        <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where
          </dt>
          <dd class="govuk-summary-list__value">
            233 Albion Road<br>London<br>N16 9JT<br><a href="#" class="govuk-link">Get directions</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When
          </dt>
          <dd class="govuk-summary-list__value">
            Every Friday from 2pm to 2.30pm<br>No appointment needed

          </dd>
        </div>
        </dl>
        </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">2.6 miles</p>
            <h3 class="govuk-heading-m"><a href="#">Hear to help - Neamen Practice</a></h3>
            <p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Where
              </dt>
              <dd class="govuk-summary-list__value">
                15 Half Moon Court<br>London<br>EC1A 7HF<br><a href="#" class="govuk-link">Get directions</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                When
              </dt>
              <dd class="govuk-summary-list__value">
                3rd Tuesday of the month from 2pm to 4pm<br>No appointment needed

              </dd>
            </div>
            </dl>
            </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div class="govuk-grid-row">

              <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">3.7 miles</p>
                <h3 class="govuk-heading-m"><a href="#">Hear to help - Stamford Hill</a></h3>
                <p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Where
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Ajex House<br>
  3-5 East Bank<br>
  London<br>
  N16 5RT<br><a href="#" class="govuk-link">Get directions</a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    When
                  </dt>
                  <dd class="govuk-summary-list__value">
                    3rd Tuesday of the month from 10.30am to 12.30pm<br>No appointment needed

                  </dd>
                </div>
                </dl>
                </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">3.9 miles</p>
                    <h3 class="govuk-heading-m"><a href="#">Hear to help - Homerton</a></h3>
                    <p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Where
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Homerton Hospital<br>
Homerton Row<br>
London<br>
E9 6SR<br><a href="#" class="govuk-link">Get directions</a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        When
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Every Monday afternoon<br>No appointment needed

                      </dd>
                    </div>
                    </dl>
                    </div>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body">6.7 miles</p>
                        <h3 class="govuk-heading-m"><a href="#">Hear to help - Finchley</a></h3>
                        <p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Where
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Jewish Deaf Association<br>
Julius Newman House<br>
Woodside Park Road<br>
High Road<br>
London<br>
N12 8RP<br><a href="#" class="govuk-link">Get directions</a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            When
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Dates organised on a month-by-month basis<br> Open to residents only
                          </dd>
                        </div>
                        </dl>
                        </div>
                        </div>
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <div class="govuk-grid-row">

                      <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body">6.7 miles</p>
                        <h3 class="govuk-heading-m"><a href="#">Hear to meet - Finchley</a></h3>
                        <p class="govuk-body">Meet other people with hearing loss to share experiences and have fun.</p>

                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Where
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Jewish Deaf Association<br>
Julius Newman House<br>
Woodside Park Road<br>
High Road<br>
London<br>
N12 8RP<br><a href="#" class="govuk-link">Get directions</a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            When
                          </dt>
                          <dd class="govuk-summary-list__value">
                            3rd Thursday of the month from 2pm to 4pm
<br>No appointment needed

                          </dd>
                        </div>
                        </dl>
                        </div>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        <div class="govuk-grid-row">

                          <div class="govuk-grid-column-two-thirds">
                            <p class="govuk-body">8.7 miles</p>
                            <h3 class="govuk-heading-m"><a href="#">Hear to help - Battersea
</a></h3>
<p class="govuk-body">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>

                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Where
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Entrance B<br>
162 St John's Hill<br>
Battersea<br>
London<br>
SW11 1SW<br><a href="#" class="govuk-link">Get directions</a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                When
                              </dt>
                              <dd class="govuk-summary-list__value">
                                2nd Wednesday of the month from 10am to 12.30pm
<br>No appointment needed

                              </dd>
                            </div>
                            </dl>
                            </div>
                            </div>
                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                            <div class="govuk-grid-row">

                              <div class="govuk-grid-column-two-thirds">
                                <p class="govuk-body">12.5 miles</p>
                                <h3 class="govuk-heading-m"><a href="#">Hear to inform and connect - Wimbledon
</a></h3><p class="govuk-body">Get information on how to manage hearing loss or a hearing check.</p>
                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Where
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    35 Wimbledon Hill Road<br>
Wimbledon Park<br>
London<br>
SW19 7NB<br><a href="#" class="govuk-link">Get directions</a>
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    When
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    4th Monday of the month from 11am to 2pm
<br>No appointment needed

                                  </dd>
                                </div>
                                </dl>
                                </div>
                                </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--l">













{% endblock %}
