{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Hear to help - Shoreditch
{% endblock %}


{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back to search results</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Hear to help - Shoreditch
  </h1>
  <p class="govuk-body-l">Come to a free drop-in service or get a home visit to help you get the most out of your NHS hearing aids.</p>
  <div class="govuk-inset-text">
    This service is for people using NHS hearing aids only as it’s run in partnership with hospital audiology departments.
  </div>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Where
    </dt>
    <dd class="govuk-summary-list__value">
      Shoreditch Trust Healthy Living Centre<br>170 Pitfield Street<br>London<br>N1 6JP<br><a href="#" class="govuk-link">Get directions</a><br><br>
      <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Venue facilities
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul class="govuk-list govuk-list--bullet">
        <li>Wheelchair access</li>
        <li>Accessible toilet</li>
        <li>Free parking</li>
      </ul>    </div>
  </details></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      When
    </dt>
    <dd class="govuk-summary-list__value">
      1st Tuesday of every month from 2pm to 4pm<br>No appointment needed
    </dd>
  </div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Phone
  </dt>
  <dd class="govuk-summary-list__value">
    020 7033 8504
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <a href="https://www.relayuk.bt.com">Relay UK</a>
  </dt>
  <dd class="govuk-summary-list__value">
    18001 then 020 7033 8504
  </dd>
</div>
</dl>



<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-l">How we can help</h2>
<p class="govuk-body">We can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>supply and fit new hearing aid batteries</li>
<li>replace hearing aid tubing</li>
<li>clean earmoulds</li>
<li>help with other minor hearing aid repairs</li>
<li>give advice on how to use and clean hearing aids</li>
<li>give information on hearing loss and the services and equipment that can help</li>
<li>visit you at home if you're unable to travel to a community service.</li>
</ul>
<div class="govuk-inset-text">
  To arrange a home visit, call 020 7033 8504.
</div>
<h2 class="govuk-heading-l">What we can't help with</h2>
<p class="govuk-body">Unfortunately we can't:</p>
<ul class="govuk-list govuk-list--bullet">
<li>provide hearing tests</li>
<li>replace or retune hearing aids</li>
<li>adjust earmoulds.</li>
</ul>
<div class="govuk-inset-text">Contact your audiology clinic if you need these services.</div>

<div class="govuk-panel govuk-panel--confirmation">

<h2 class="govuk-heading-l">Common hearing aid problems</h2>
<p class="govuk-body">If your hearing aids are whistling or not working properly, there may be a simple fix.</p>
<a href="#" class="govuk-link">Tips for checking your hearing aids</a>
</div>

</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




{% endblock %}
