{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Local support services

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/information-support">Information and support</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Support services</li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Local support services</h1>

    <p class="govuk-body-l">Action on Hearing Loss provides information and support in communities across the UK. Many of our services are run by volunteers who are Deaf or have hearing loss or tinnitus themselves.</p>
    <p class="govuk-body">We have services to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>help you take care of your hearing aids</li>
  <li>give you information about hearing loss or tinnitus and how to manage it</li>
  <li>help you find useful products for hearing loss or tinnitus.</li>


</ul><p class="govuk-body">We also provide other services in local communities.
</p>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Find support in your area</h2>
</div>
    <form action="/information-support/support-services/find-a-local-service" method="get" role="search" >
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <input class="govuk-input" id="location-search" name="location-search" type="search" placeholder="Enter a town, city or postcode">
</div>
  </div>
  <div class="govuk-grid-column-one-third">
    <button class="govuk-button search" data-module="govuk-button" type="submit">
    Search
  </button>
  </div>
  </form>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--l">
<h2 class="govuk-heading-l">Our services</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="/information-support/support-services/get-help-with-hearing-aids" class="govuk-link">Get help with hearing aids</a></h3>
    <p class="govuk-body">We carry out minor repairs and adjustments.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Manage your hearing loss</a></h3>
  <p class="govuk-body">Learn about hearing loss and how to manage it.
</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Get tinnitus support</a></h3>
  <p class="govuk-body">One-to-one support to help you manage tinnitus. </p>
</div>

</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Meet others with hearing loss</a></h3>
    <p class="govuk-body">Share experiences and have fun at a local meet-up.
  </p>
  </div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="/information-support/products-technology" class="govuk-link">Get equipment to help</a></h3>
  <p class="govuk-body">Find out what products or equipment could help you.</p>
</div>
<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Get help with benefits</a></h3>
  <p class="govuk-body">Welfare advice for people living in Scotland and Northern Ireland.</p>
</div>
</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m"><a href="#" class="govuk-link">Get help with employment</a></h3>
    <p class="govuk-body">Get help to find or stay in work. We run services in Wales, Scotland and Northern Ireland.</p>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<hr class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Contact our helpline</h2>
    <p class="govuk-body">We provide free, confidential information and support.</p>

  <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Chat
  </dt>
  <dd class="govuk-summary-list__value">
  <span style="text-decoration:underline">Chat to us online</span>  </dd>
  </div>
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Email  </dt>
  <dd class="govuk-summary-list__value">
  <span style="text-decoration:underline">helpline@hearingloss.org.uk</span>
  </dd>
  </div>
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Call </dt>
  <dd class="govuk-summary-list__value">
  0808 808 0123
  </dd>
  </div>
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  <span style="text-decoration:underline">Relay UK</span></dt>
  <dd class="govuk-summary-list__value">
  18001 then 0808 0123
  </dd>
  </div>
  </dl>
        </div>



</div>
</div>











{% endblock %}
