{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Doorbells: Get help paying for technology
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/information-support/">Information and support</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/information-support/products-technology/">Products</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Doorbells</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Doorbells
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/information-support/products-technology/doorbells/">Overview</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/information-support/products-technology/doorbells/extension-bells-ringers">Extension bells and ringers</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/information-support/products-technology/doorbells/wireless-door-chimes-doorbells">Wireless door chimes and doorbells</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/information-support/products-technology/doorbells/wifi-doorbells">Wi-Fi doorbells</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/information-support/products-technology/doorbells/related-products">Related products</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Get help paying for technology
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link" href="/information-support/products-technology/doorbells/try-out-equipment">Try out equipment</a>
            </li>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Get help paying for technology</h2>
  <p class="govuk-body">You may be able to get help paying for equipment from:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your local council's sensory services team</li>
    <li>your workplace, if you need technology to help you to work</li>
    <li>the Disabled Students' Allowance (DSA) scheme, if you are in post-18 education</li>
  </ul>
  <a href="#" class="govuk-link">Find out more about how to apply for benefits</a>

<hr class="govuk-section-break govuk-section-break--m">
<h3 class="govuk-heading-m">Next</h3><a href="/information-support/products-technology/doorbells/try-out-equipment">Try out equipment</a><br><br>
<h3 class="govuk-heading-m">Previous</h3><a href="/information-support/products-technology/doorbells/related-products">Related products</a>

</div>

</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body tab"><strong>Is this page useful?</strong> &nbsp;&nbsp;  &nbsp;&nbsp;  <a href="#">Yes</a> &nbsp;&nbsp; <a href="#">No<a></p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



{% endblock %}
