{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Reasons to volunteer
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/volunteer">Volunteer</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Reasons to volunteer</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Reasons to volunteer
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/volunteer/reasons-to-volunteer/">Benefits of volunteering</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/volunteer/reasons-to-volunteer/support-and-training">Support and training
</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Anyone can volunteer
        </li>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Anyone can volunteer</h2>
  <p class="govuk-body">Our opportunities are open to anyone who can volunteer in the UK. We welcome people from any background, with any level of experience.</p>
  <p class="govuk-body">We’re committed to equal opportunities and building diversity across Action on Hearing Loss.</p>
  <h3 class="govuk-heading-m">If you have a disability</h3>
  <p class="govuk-body">We’ll try to accommodate any disability you have by making reasonable adjustments. You can talk to your volunteer manager for help with this.</p>
  <h3 class="govuk-heading-m">If you are receiving benefits</h3>
  <p class="govuk-body">You can volunteer while you’re receiving benefits, but you will need to tell your benefits office.</p>
  <p class="govuk-body">The UK government has written a guide to <a class="govuk-link" href="https://www.gov.uk/guidance/volunteering-and-claiming-benefits">volunteering and claiming benefits</a>. The guide tells you what your benefits office needs to know about your volunteer role.</p>
  <h3 class="govuk-heading-m">If you have a criminal record</h3>
  <p class="govuk-body">Declaring a conviction won’t stop you being considered for a post, and criminal records will only be taken into account when the conviction is relevant.</p>
  <p class="govuk-body">We treat everyone one an individual basis so that we don’t prevent people who want to volunteer.</p>
  <h3 class="govuk-heading-m">If you’re not from the UK</h3>
  <p class="govuk-body">You are allowed to volunteer in the UK if you’re from an EU member country or countries in the European Economic Area (EEA).</p>
  <p class="govuk-body">People from outside the EEA must have a visa to work or study in the UK and may volunteer as long as they’re still doing the activity stated on their visa. Their visa must also allow 'unpaid work' or volunteering.</p>
  <p class="govuk-body">It is possible to get a visa to come to the UK specifically to volunteer, but this must be arranged in advance and certain restrictions apply. You can check on the UK government website to <a class="govuk-link" href="https://www.gov.uk/check-uk-visa">see if you need a visa</a>.</p>
  <h3 class="govuk-heading-m">If you’re aged 16 to 18</h3>
  <p class="govuk-body">We welcome volunteers aged 16 and upwards, but if you’re aged under 18 we will seek permission from your parent or guardian. We will also assess the role to make sure the placement of a young person won’t put the volunteer, or anyone working with them, at risk.</p>
  <h3 class="govuk-heading-m">If you are an asylum seeker</h3>
  <p class="govuk-body">Asylum seekers in the UK are allowed to volunteer for charities.</p>


<h3 class="govuk-heading-m">Previous</h3><a href="/volunteer/reasons-to-volunteer/support-and-training">Support and training</a>
</div>

</div>



{% endblock %}
