{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Reasons to volunteer
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/volunteer">Volunteer</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Reasons to volunteer</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Reasons to volunteer
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          Benefits of volunteering
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/volunteer/reasons-to-volunteer/support-and-training">Support and training</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/volunteer/reasons-to-volunteer/anyone-can-volunteer">Anyone can volunteer</a>

        </li>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Benefits of volunteering</h2>
  <p class="govuk-body">We’re really grateful for people who give up their time to help others. We’re here to support you, and make sure your time volunteering is worthwhile and enjoyable.</p>

  <p class="govuk-body">When you volunteer, you can:</p>
  <h3 class="govuk-heading-m">Gain new skills and work experience</h3>
  <p class="govuk-body">Volunteering gives you the opportunity to learn about teamwork, communication, resilience and taking initiative. These are valuable skills you can use in any workplace.</p>
  <h3 class="govuk-heading-m">Improve your CV</h3>
  <p class="govuk-body">Volunteering shows your motivation and commitment. This helps your CV stand out when you apply for jobs.</p>
  <h3 class="govuk-heading-m">Get a qualification</h3>
  <p class="govuk-body">You can choose to work towards a qualification called ‘Understanding Hearing Loss’, from the National Open College Network (NOCN).</p>
  <h3 class="govuk-heading-m">Meet new people</h3>
  <p class="govuk-body">When you volunteer, you’ll meet new people from different backgrounds and feel like part of a supportive community.</p>
  <h3 class="govuk-heading-m">Do something you love</h3>
  <p class="govuk-body">You can choose a volunteer opportunity that fits with your interests. Doing things we enjoy helps us feel more fulfilled and motivated.</p>
  <h3 class="govuk-heading-m">Try something new</h3>
  <p class="govuk-body">Volunteering is a good way to try something you’ve always wanted. You might like to do something totally different to your regular job, if you have one.</p>
  <h3 class="govuk-heading-m">Build your confidence</h3>
  <p class="govuk-body">Doing something useful and productive with your free time is a great confidence booster. Meeting new people and trying new things are good at this too.</p>
  <h3 class="govuk-heading-m">Stay active and healthy</h3>
  <p class="govuk-body">Volunteering has a positive effect on our mental health and can help with stress, anxiety and depression. Depending which opportunity you choose, you might also be more active.</p>
  <h3 class="govuk-heading-m">Help people in your community</h3>
  <p class="govuk-body">You can help us make a real difference to people in your community by sharing your skills, experience, energy and enthusiasm.</p>
  <h3 class="govuk-heading-m">Help us change the future</h3>
  <p class="govuk-body">We’re very ambitious about shaping a better future for the 11million people who are Deaf or have hearing loss in the UK. We couldn’t do it without the support of our volunteers.</p>

<h3 class="govuk-heading-m">Next</h3><a href="/volunteer/reasons-to-volunteer/support-and-training">Support and training</a>
</div>

</div>



{% endblock %}
