{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Reasons to volunteer
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/volunteer">Volunteer</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Reasons to volunteer</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Reasons to volunteer
  </h1>

  <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="track-click">
      <h2 class="gem-c-contents-list__title">Contents</h2>

    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/volunteer/reasons-to-volunteer/">Benefits of volunteering</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true"">
          Support and training

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link" href="/volunteer/reasons-to-volunteer/anyone-can-volunteer">Anyone can volunteer</a>

        </li>
    </ol>
</nav>
      </aside>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Support and training</h2>
  <p class="govuk-body">We provide support and training for all our volunteers. This means you can enjoy what you’re doing without having to worry about things like travel costs or who to ask for help.</p>
  <h3 class="govuk-heading-m">The support you’ll get</h3>
  <p class="govuk-body">Whatever role you do, there’ll be someone from Action on Hearing Loss to support and guide you. Our volunteer managers will help you settle into your role and you’ll get support from other volunteers as you work together.</p>
  <h3 class="govuk-heading-m">The training you’ll get</h3>
  <p class="govuk-body">Every volunteer will take part in an induction process, which includes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>an induction to your role</li>
    <li>a copy of our volunteer handbook</li>
    <li>access to our Volunteer Zone site, which has presentations and training materials</li>
  </ul>
  <p class="govuk-body">You’ll also have the opportunity to take part in training that’s more specific to your role. This might include training in Understanding Hearing Loss, or working towards a qualification from the Open College Network.</p>
  <h3 class="govuk-heading-m">Expenses you can claim</h3>
  <p class="govuk-body">We don’t want you to be out of pocket. Action on Hearing Loss will cover all reasonable travel costs that you might have to pay when you volunteer.</p>
  <p class="govuk-body">These expenses won’t affect any benefits you might be receiving, because they’re a refund of payments you’ve made.</p>


<h3 class="govuk-heading-m">Next</h3><a href="/volunteer/reasons-to-volunteer/anyone-can-volunteer">Anyone can volunteer</a><br><br>
<h3 class="govuk-heading-m">Previous</h3><a href="/volunteer/reasons-to-volunteer/">Benefits of volunteering</a>

</div>

</div>



{% endblock %}
