{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Cards

{% endblock %}
{% block beforeContent %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Cards</h1>

<section>

<h2 class="govuk-heading-l">With image</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper hero" href="#">


            <img class="nhsuk-promo__img hero" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

            <div class="nhsuk-promo__content hero">
              <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
              <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


            </div>
          </a>
        </div>

        </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="#">


              <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


              </div>
            </a>
          </div>
    </div>
        <div class="govuk-grid-column-one-half">
          <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper" href="#">


                    <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                    <div class="nhsuk-promo__content">
                      <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                      <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                    </div>
                  </a>
                </div>

              </div>

</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="#">


            <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
              <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


            </div>
          </a>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="#">


                  <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">


                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                    <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                  </div>
                </a>
              </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="nhsuk-promo">
                            <a class="nhsuk-promo__link-wrapper" href="#">


                              <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                              <div class="nhsuk-promo__content">
                                <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                                <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                              </div>
                            </a>
                          </div>
                              </div>
</div>

</section>

<section>
<h2 class="govuk-heading-l">Without image</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="#">


            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
              <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


            </div>
          </a>
        </div>

        </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="#">

              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


              </div>
            </a>
          </div>
    </div>
        <div class="govuk-grid-column-one-half">
          <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper" href="#">

                    <div class="nhsuk-promo__content">
                      <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                      <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                    </div>
                  </a>
                </div>

              </div>

</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="#">

            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
              <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


            </div>
          </a>
        </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="#">

                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                    <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                  </div>
                </a>
              </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="nhsuk-promo">
                            <a class="nhsuk-promo__link-wrapper" href="#">

                              <div class="nhsuk-promo__content">
                                <h2 class="nhsuk-promo__heading">Why volunteer with us</h2>
                                <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                              </div>
                            </a>
                          </div>
                              </div>
</div>

</section>

<section>
<h2 class="govuk-heading-l">With summary list</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                      <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Where
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Clapham
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          When
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1 day a week, Monday to Sunday
                        </dd>
                      </div>
                      </dl>
                    </div>
                  </a>
                </div>

        </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <div class="nhsuk-promo__content">
                      <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                      <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Where
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Clapham
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          When
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1 day a week, Monday to Sunday
                        </dd>
                      </div>
                      </dl>
                    </div>
                  </a>
                </div>
    </div>
        <div class="govuk-grid-column-one-half">
          <div class="nhsuk-promo">
                        <a class="nhsuk-promo__link-wrapper" href="#">
                          <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                            <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Where
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Clapham
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                When
                              </dt>
                              <dd class="govuk-summary-list__value">
                                1 day a week, Monday to Sunday
                              </dd>
                            </div>
                            </dl>
                          </div>
                        </a>
                      </div>

              </div>

</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="#">
                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                    <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Where
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Clapham
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        When
                      </dt>
                      <dd class="govuk-summary-list__value">
                        1 day a week, Monday to Sunday
                      </dd>
                    </div>
                    </dl>
                  </div>
                </a>
              </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper" href="#">
                        <div class="nhsuk-promo__content">
                          <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                          <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                          <dl class="govuk-summary-list govuk-summary-list--no-border">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Where
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Clapham
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              When
                            </dt>
                            <dd class="govuk-summary-list__value">
                              1 day a week, Monday to Sunday
                            </dd>
                          </div>
                          </dl>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="nhsuk-promo">
                                  <a class="nhsuk-promo__link-wrapper" href="#">
                                    <div class="nhsuk-promo__content">
                                      <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                                      <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Where
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Clapham
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          When
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          1 day a week, Monday to Sunday
                                        </dd>
                                      </div>
                                      </dl>
                                    </div>
                                  </a>
                                </div>
                              </div>
</div>

</section>

<section>
<h2 class="govuk-heading-l">With summary list and image</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper hero" href="#">
                    <img class="nhsuk-promo__img hero" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                    <div class="nhsuk-promo__content hero">

                      <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                      <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Where
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Clapham
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          When
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1 day a week, Monday to Sunday
                        </dd>
                      </div>
                      </dl>
                    </div>
                  </a>
                </div>

        </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper" href="#">
                    <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                    <div class="nhsuk-promo__content">

                      <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                      <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Where
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Clapham
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          When
                        </dt>
                        <dd class="govuk-summary-list__value">
                          1 day a week, Monday to Sunday
                        </dd>
                      </div>
                      </dl>
                    </div>
                  </a>
                </div>
    </div>
        <div class="govuk-grid-column-one-half">
          <div class="nhsuk-promo">
                        <a class="nhsuk-promo__link-wrapper" href="#">
                          <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                          <div class="nhsuk-promo__content">

                            <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                            <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Where
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Clapham
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                When
                              </dt>
                              <dd class="govuk-summary-list__value">
                                1 day a week, Monday to Sunday
                              </dd>
                            </div>
                            </dl>
                          </div>
                        </a>
                      </div>

              </div>

</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="#">
                  <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                  <div class="nhsuk-promo__content">

                    <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                    <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Where
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Clapham
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        When
                      </dt>
                      <dd class="govuk-summary-list__value">
                        1 day a week, Monday to Sunday
                      </dd>
                    </div>
                    </dl>
                  </div>
                </a>
              </div>

      </div>
      <div class="govuk-grid-column-one-third">
        <div class="nhsuk-promo">
                      <a class="nhsuk-promo__link-wrapper" href="#">
                        <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                        <div class="nhsuk-promo__content">

                          <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                          <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                          <dl class="govuk-summary-list govuk-summary-list--no-border">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Where
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Clapham
                            </dd>
                          </div>
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              When
                            </dt>
                            <dd class="govuk-summary-list__value">
                              1 day a week, Monday to Sunday
                            </dd>
                          </div>
                          </dl>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                    <div class="nhsuk-promo">
                                  <a class="nhsuk-promo__link-wrapper" href="#">
                                    <img class="nhsuk-promo__img" src="/public/images/meet-our-volunteers.png" alt="What it's like to volunteer">

                                    <div class="nhsuk-promo__content">

                                      <h2 class="nhsuk-promo__heading">Befriending volunteer</h2>
                                      <p class="nhsuk-promo__description">Provide conversation and companionship to a deaf person, on a regular basis over time.</p>
                                      <dl class="govuk-summary-list govuk-summary-list--no-border">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          Where
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          Clapham
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                          When
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                          1 day a week, Monday to Sunday
                                        </dd>
                                      </div>
                                      </dl>
                                    </div>
                                  </a>
                                </div>
                              </div>
</div>

</section>


{% endblock %}
