
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Project Braidwood
{% endblock %}



{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Project Braidwood
      </h1>
      <h2 class="govuk-heading-l">
        Prototypes
      </h2>
      </div>
      </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <div class="nhsuk-promo">
                    <a class="nhsuk-promo__link-wrapper" href="/volunteer">

                      <div class="nhsuk-promo__content">
                        <h3 class="nhsuk-promo__heading">Volunteer</h3>

                      </div>
                    </a>
                  </div>
                  </div>
                  <div class="govuk-grid-column-one-third">
                  <div class="nhsuk-promo">
                                <a class="nhsuk-promo__link-wrapper" href="/campaign">

                                  <div class="nhsuk-promo__content">
                                    <h3 class="nhsuk-promo__heading">Campaign</h3>

                                  </div>
                                </a>
                              </div>
                              </div>
                              <div class="govuk-grid-column-one-third">
                              <div class="nhsuk-promo">
                                            <a class="nhsuk-promo__link-wrapper" href="/research">

                                              <div class="nhsuk-promo__content">
                                                <h3 class="nhsuk-promo__heading">Research</h3>

                                              </div>
                                            </a>
                                          </div>
                                          </div>
                                          </div>
                  <h2 class="govuk-heading-l">
                    Components
                  </h2>
                  <div class="nhsuk-promo">
                                <a class="nhsuk-promo__link-wrapper" href="/cards">

                                  <div class="nhsuk-promo__content">
                                    <h3 class="nhsuk-promo__heading">Cards</h3>

                                  </div>
                                </a>
                              </div>

                              <h2 class="govuk-heading-l">
                                Patterns
                              </h2>
                              <div class="nhsuk-promo">
                                            <a class="nhsuk-promo__link-wrapper" href="/multiple-questions">

                                              <div class="nhsuk-promo__content">
                                                <h3 class="nhsuk-promo__heading">More than one question per page</h3>

                                              </div>
                                            </a>
                                          </div>
    </div>
</div>

{% endblock %}
