{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Our research: Restoring hearing
{% endblock %}


{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Research</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Restoring hearing</li>
  </ol>
</div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Our research: Restoring hearing
  </h1>
  <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt=""><br><br>

  <p class="govuk-body-l">We fund research to find ways to restore hearing in the ear and to improve medical devices to help people hear better.</p>
  <p class="govuk-body">Most hearing loss is caused by damage to part of your inner ear, called the cochlea. Cells in the cochlea, called sensory hair cells and auditory neurons, detect sound and carry signals from the ear to the brain, which allows you to hear.</p>
  <p class="govuk-body">When these cells are damaged, your ear can’t regrow them, which causes hearing loss. This can happen as you grow older, or if you are exposed to very loud noise.</p>
  <p class="govuk-body">There are currently no ways to regrow hearing cells once they’re lost. With your help, we can fund research to identify ways to replace these cells and to improve medical devices such as cochlear implants and hearing aids.</p>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l">Our research goals</h2>
  <p class="govuk-body">We fund research to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>identify ways to turn stem cells, which turn into lots of different cell types, into hearing cells</li>
  <li>find out how to change the action of certain genes in the cochlea to create new hearing cells, known as gene therapy</li>
  <li>develop drugs that drive the production of new hearing cells in the cochlea</li>
  <li>improve medical devices such as cochlear implants and hearing aids</li>
</ul>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">Our projects</h2>
<h3 class="govuk-heading-m">Using light to improve cochlear implants</h3>
<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Project
    </dt>
    <dd class="govuk-summary-list__value">
      Using light to improve cochlear implants
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Researcher
    </dt>
    <dd class="govuk-summary-list__value">
      Professor Rachael Richardson
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Where
    </dt>
    <dd class="govuk-summary-list__value">
      Bionics Institute<br>Melbourne<br>Australia
    </dd>
  </div>
</dl>
<p class="govuk-body">If you are profoundly deaf, cochlear implants can restore hearing by working in place of hair cells that have been lost. They generate electrical signals that activate auditory nerve cells which carry signals to the brain, which allows you to hear. But it can still be difficult to hear in some situations especially when there is a lot of background noise.</p>
<p class="govuk-body">Professor Richardson is working to improve cochlear implants by using light, instead of electrical signals, to activate the hearing nerve cells. This could help people with implants hear with a much better and more natural quality of sound.</p>
<a href="#" class="govuk-link">Find out more about cochlear implants</a>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-l">Our achievements</h2>
<p class="govuk-body">In 2012, our stem cell research led to a major breakthrough in the search to find a way to restore natural hearing. Thanks to your help and support, we were able to fund research where human stem cells were shown to restore hearing in gerbils.</p>

<p class="govuk-body">Professor Marcelo Rivolta at the University of Sheffield led the study that regrew the auditory nerve cells that had been damaged in the gerbils. Stem cells have the ability to turn into many different types of cell, and were used to regenerate the cells that had been lost.</p>

<p class="govuk-body">These cells carry signals from the ear to the brain, which allows you to hear. When they were placed into the gerbils’ inner ear, they replaced the damaged cells and restored their hearing.</p>

<p class="govuk-body">This encouraging research is a major step forward and paves the way to developing treatments in this field. Professor Rivolta is continuing to work in this area to understand more about how this research can be used to restore hearing in humans in the future.</p>


</div>

</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<h3 class="govuk-heading-l">Get involved</h3>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="#">


              <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">

              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Donate to support our research</h2>
                <p class="nhsuk-promo__description">Your donation will help to support life changing research to restore hearing.</p>


              </div>
            </a>
          </div>
              </div>
<div class="govuk-grid-column-one-half">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="#">


            <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">


            <div class="nhsuk-promo__content">
              <h2 class="nhsuk-promo__heading">Take part in a clinical trial</h2>
              <p class="nhsuk-promo__description">Your donation will help to support life changing research to restore hearing.</p>


            </div>
          </a>
        </div>
            </div>

</div>
{% endblock %}
