{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Example of more than one question per page

{% endblock %}
{% block beforeContent %}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Example of more than one question per page</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8E9j3qI-yhA?playsinline=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </div>
</div>



{% endblock %}
