{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Research

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Research</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Our research into hearing loss and tinnitus</h1>

    <p class="govuk-body-l">There is currently no cure for hearing loss or tinnitus. We want a future where there are effective medical devices, treatments and cures for those who need it - and we need your help to fund the research to achieve this.</p>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-l">What we fund</h2>

  <p class="govuk-body-l">Find out more about our three key areas of research and how you can help to support us.</p>
</div>
</div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

              </div>
              <div class="govuk-grid-column-one-third">
                <div class="nhsuk-promo">
                        <a class="nhsuk-promo__link-wrapper" href="#">


                          <img class="nhsuk-promo__img" src="/public/images/research.png" alt="">

                          <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">Preventing hearing loss</h2>
                            <p class="nhsuk-promo__description">We want to identify the causes of hearing loss and improve our understanding of it.<br><br></p>


                          </div>
                        </a>
                      </div>

                    </div>
              <div class="govuk-grid-column-one-third">
                      <div class="nhsuk-promo">
                              <a class="nhsuk-promo__link-wrapper" href="/research/restoring-hearing">


                                <img class="nhsuk-promo__img" src="/public/images/research-2.png" alt="">

                                <div class="nhsuk-promo__content">
                                  <h2 class="nhsuk-promo__heading">Restoring hearing</h2>
                                  <p class="nhsuk-promo__description">We want to find ways to restore hearing in the ear and to improve medical devices to help people hear better.<br><br></p>


                                </div>
                              </a>
                            </div>

                    </div>
                    <div class="govuk-grid-column-one-third">
                      <div class="nhsuk-promo">
                              <a class="nhsuk-promo__link-wrapper" href="/research/restoring-hearing">


                                <img class="nhsuk-promo__img" src="/public/images/research-1.png" alt="">

                                <div class="nhsuk-promo__content">
                                  <h2 class="nhsuk-promo__heading">Silencing tinnitus</h2>
                                  <p class="nhsuk-promo__description">We want to identify the causes of tinnitus and develop strategies to manage it.<br><br></p>


                                </div>
                              </a>
                            </div>

                          </div>

              </div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">Find out more</h2>
              </div>
              </div>

                            <div class="govuk-grid-row">
                              <div class="govuk-grid-column-two-thirds">

                            </div>
                            <div class="govuk-grid-column-one-half">
                              <div class="nhsuk-promo">
                                      <a class="nhsuk-promo__link-wrapper" href="#">



                                        <div class="nhsuk-promo__content">
                                          <h2 class="nhsuk-promo__heading">Research news</h2>
                                          <p class="nhsuk-promo__description">Sign up to our newsletter.<br><br></p>


                                        </div>
                                      </a>
                                    </div>

                                  </div>
                            <div class="govuk-grid-column-one-half">
                                    <div class="nhsuk-promo">
                                            <a class="nhsuk-promo__link-wrapper" href="#">



                                              <div class="nhsuk-promo__content">
                                                <h2 class="nhsuk-promo__heading">Hearing health</h2>
                                                <p class="nhsuk-promo__description">Everything you need to know about your hearing.</p>


                                              </div>
                                            </a>
                                          </div>

                                  </div>


                            </div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                            <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                              <h2 class="govuk-heading-l">Get involved</h2>

                            </div>
                            </div>

                                          <div class="govuk-grid-row">
                                            <div class="govuk-grid-column-two-thirds">

                                          </div>
                                          <div class="govuk-grid-column-one-third">
                                            <div class="nhsuk-promo">
                                                    <a class="nhsuk-promo__link-wrapper" href="#">


                                                      <img class="nhsuk-promo__img" src="/public/images/research-3.png" alt="">

                                                      <div class="nhsuk-promo__content">
                                                        <h2 class="nhsuk-promo__heading">Donate to support our research</h2>
                                                        <p class="nhsuk-promo__description">Jenson’s cochlear implants have transformed his life but cochlear implants wouldn’t exist without our research.</p>


                                                      </div>
                                                    </a>
                                                  </div>

                                                </div>
                                          <div class="govuk-grid-column-one-third">
                                                  <div class="nhsuk-promo">
                                                          <a class="nhsuk-promo__link-wrapper" href="#">


                                                            <img class="nhsuk-promo__img" src="/public/images/research-4.png" alt="">

                                                            <div class="nhsuk-promo__content">
                                                              <h2 class="nhsuk-promo__heading">Take part in a clinical trial</h2>
                                                              <p class="nhsuk-promo__description">Find out the latest opportunities to get involved in research into hearing loss and tinnitus.<br><br></p>


                                                            </div>
                                                          </a>
                                                        </div>

                                                </div>
                                                <div class="govuk-grid-column-one-third">
                                                  <div class="nhsuk-promo">
                                                          <a class="nhsuk-promo__link-wrapper" href="#">


                                                            <img class="nhsuk-promo__img" src="/public/images/research-5.png" alt="">

                                                            <div class="nhsuk-promo__content">
                                                              <h2 class="nhsuk-promo__heading">Apply for funding</h2>
                                                              <p class="nhsuk-promo__description">Find out about our grants and funding for researchers.<br><br><br><br></p>


                                                            </div>
                                                          </a>
                                                        </div>

                                                      </div>

                                          </div>

                                                                </div>




{% endblock %}
