{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Research

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Research</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Research</h1>

    <p class="govuk-body-l">There is currently no cure for hearing loss or tinnitus. We want a future where there are effective medical devices, treatments and cures for those who need it - for this, we need research.</p>
</div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-l">Areas of research</h2>

  <p class="govuk-body-l">Find out more about our three key areas of research and how you can help to support us.</p>
</div>
</div>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

              </div>
              <div class="govuk-grid-column-one-third">
                <div class="nhsuk-promo">
                        <a class="nhsuk-promo__link-wrapper" href="#">


                          <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">

                          <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">Preventing hearing loss</h2>
                            <p class="nhsuk-promo__description">We support research to identify the causes of hearing loss and improve our understanding of it.<br><br></p>


                          </div>
                        </a>
                      </div>

                    </div>
              <div class="govuk-grid-column-one-third">
                      <div class="nhsuk-promo">
                              <a class="nhsuk-promo__link-wrapper" href="/research/restoring-hearing">


                                <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">

                                <div class="nhsuk-promo__content">
                                  <h2 class="nhsuk-promo__heading">Restoring hearing</h2>
                                  <p class="nhsuk-promo__description">We fund research to find ways to restore hearing in the ear and to improve medical devices to help people hear better.</p>


                                </div>
                              </a>
                            </div>

                    </div>
                    <div class="govuk-grid-column-one-third">
                      <div class="nhsuk-promo">
                              <a class="nhsuk-promo__link-wrapper" href="/research/restoring-hearing">


                                <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">

                                <div class="nhsuk-promo__content">
                                  <h2 class="nhsuk-promo__heading">Silencing tinnitus</h2>
                                  <p class="nhsuk-promo__description">We support research to identify the causes of tinnitus and develop strategies to alleviate it.<br><br></p>


                                </div>
                              </a>
                            </div>

                          </div>

              </div>

                                                                </div>




{% endblock %}
