{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Thanks for becoming a campaigner</h1>
      </div>

      <p class="govuk-body">
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-l">What happens next</h2>
      <p class="govuk-body">We'll be in touch with you soon about your application.</p><p>If you have any other questions about volunteering please email us: <a href="#" class="govuk-link">volunteering@hearingloss.org.uk</a></p>

    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h3 class="govuk-heading-l">Others ways you can help</h3>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="#">

              <div class="nhsuk-promo__content">
                <h2 class="nhsuk-promo__heading">Fundraise</h2>
                <p class="nhsuk-promo__description">Help fund our hearing research, support services and campaigns for equality.</p>


              </div>
            </a>
          </div>

        </div>
        <div class="govuk-grid-column-one-third">
          <div class="nhsuk-promo">
                  <a class="nhsuk-promo__link-wrapper" href="#">

                    <div class="nhsuk-promo__content">
                      <h2 class="nhsuk-promo__heading">Campaign</h2>
                      <p class="nhsuk-promo__description">Influence parliament, businesses and public services.</p>


                    </div>
                  </a>
                </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                      <div class="nhsuk-promo">
                              <a class="nhsuk-promo__link-wrapper" href="#">

                                <div class="nhsuk-promo__content">
                                  <h2 class="nhsuk-promo__heading">Take part in an event</h2>
                                  <p class="nhsuk-promo__description">Help raise money for people who are deaf or affected by hearing loss.</p>


                                </div>
                              </a>
                            </div>
                                </div>
  </div>

{% endblock %}
