{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Campaign with us

{% endblock %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Campaign</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">


  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Campaign with us</h1>

    <p class="govuk-body-l">Help influence parliament, businesses and public services so people with hearing loss can live the life they choose.</p>

    <p class="govuk-body-l">All our campaigns are based on our <a href="#">research and policy work.</a></p>

</div>


</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper hero" href="/campaign/become-a-campaigner">


            <img class="nhsuk-promo__img hero" src="/public/images/image-placeholder.png" alt="">

            <div class="nhsuk-promo__content hero">
              <h2 class="nhsuk-promo__heading">Become a campaigner</h2>
              <p class="nhsuk-promo__description">Join our Campaigns Network of more than 3,500 people. Every month, we’ll let you know what you can do to help make society fairer for Deaf people and those who have hearing loss or tinnitus. This might be signing a petition, emailing your MP, completing a survey or sharing your experiences. Together, we can make change happen.</p>


            </div>
          </a>
        </div>

        </div>

</div>
<hr class="govuk-section-break govuk-section-break--l">

              <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <div class="nhsuk-promo">
                        <a class="nhsuk-promo__link-wrapper" href="/campaign/subtitle-it">


                          <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">

                          <div class="nhsuk-promo__content">
                            <h2 class="nhsuk-promo__heading">Subtitle it</h2>
                            <p class="nhsuk-promo__description">End the unfairness of TV without subtitles.</p>


                          </div>
                        </a>
                      </div>

                    </div>
                    <div class="govuk-grid-column-one-third">
                      <div class="nhsuk-promo">
                              <a class="nhsuk-promo__link-wrapper" href="#">


                                <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">


                                <div class="nhsuk-promo__content">
                                  <h2 class="nhsuk-promo__heading">Working for change</h2>
                                  <p class="nhsuk-promo__description">Change attitudes in the workplace.</p>


                                </div>
                              </a>
                            </div>
                                </div>
                                <div class="govuk-grid-column-one-third">
                                  <div class="nhsuk-promo">
                                          <a class="nhsuk-promo__link-wrapper" href="#">


                                            <img class="nhsuk-promo__img" src="/public/images/image-placeholder.png" alt="">

                                            <div class="nhsuk-promo__content">
                                              <h2 class="nhsuk-promo__heading">Regional campaigns</h2>
                                              <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                                            </div>
                                          </a>
                                        </div>
                                            </div>
              </div>

                                                                </div>




{% endblock %}
