{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Subtitle it
{% endblock %}

{% block beforeContent %}
<a href="/campaign" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">
    Improve subtitles on video content (Subtitle it!)
  </h1>
  <p class="govuk-body-l">
    Join the campaign that aims to improve access to subtitles on video-on-demand content.
  </p>


<a role="button" class="govuk-button" data-module="govuk-button" href="/campaign/become-a-campaigner">
  Join the campaign</a>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">What the problem is</h2>

<p class="govuk-body">Many programmes are unwatchable due to a lack of subtitles, poor quality subtitles or excessive background noise and music.</p>


<h2 class="govuk-heading-l">How you can fix it</h2>

<p class="govuk-body">Help convince parliament to change the law and give Ofcom new powers to legally enforce subtitles.</p>

<h2 class="govuk-heading-l">Watch what impact poor subtitles have on people (2 minutes)</h2>

<img class="nhsuk-promo__img" src="/public/images/why-volunteer.png" alt="Why volunteer">

<br><p class="govuk-caption-m">Eddie can no longer enjoy his favourite programmes after a car accident.</p>


</div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% endblock %}
