{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Subtitle it
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Campaign</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Subtitle it</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Subtitle it
  </h1>
  <p class="govuk-body-l">
    Join our campaign to make sure on-demand TV has subtitles and more signed programmes.
  </p>

  <div class="govuk-panel govuk-panel--confirmation">
  <p class="govuk-body">Share your experiences, so broadcasters and policymakers understand what it’s like to be excluded from TV.</p>


<a role="button" class="govuk-button" data-module="govuk-button" href="#">
  Share your story</a>
  </div>

<hr class="govuk-section-break govuk-section-break--l">

<h2 class="govuk-heading-l">The problem</h2>

<p class="govuk-body">Subtitles are available on most TV shows and films when broadcast on traditional channels, such as BBC 1 or ITV. But not all of these shows and films are subtitled when they’re shown on online video services such as iPlayer, Now TV or Netflix.</p>
<p class="govuk-body">Less than 1% of all on-demand content includes British Sign Language (BSL) – either as sign presented content or with BSL translation.</p>
<p class="govuk-body">We’ve been campaigning on this issue since 2015. Our campaigners changed the law in 2017,  so that the government has the power to regulate online video services and require them to have a minimum level of subtitled content. But the government is yet to put this law into action.</p>


<h2 class="govuk-heading-l">What we want to change</h2>

<p class="govuk-body">We want the government to act now.</p>
<p class="govuk-body">The TV regulator, Ofcom, is currently consulting with broadcasters and other organisations to see how the regulations would work in practice. We are involved in these discussions and are representing the needs of our campaigners.</p>
<p class="govuk-body">We’ll then demand that the government brings the regulations into effect as soon as possible – and we’ll need your help.</p>
<p class="govuk-body"><a href="#">Sign up to our Campaigns Network</a> for updates on this campaign and other opportunities to get involved.<p>


<h2 class="govuk-heading-l">Support the campaign</h2>
<p class="govuk-body">Are you affected by the lack of subtitles or signed content? Share your experiences with us to strengthen our campaign. Together, we’ll let broadcasters and policymakers know why we’re calling for change.</p>
<p class="govuk-body"><a href="#">Share your experiences</a></p>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <h2 class="govuk-details__summary-text">
      The campaign so far
    </h2>
  </summary>
  <div class="govuk-details__text">
  </div>
</details>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Our other campaigns</h2>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="nhsuk-promo">
                <a class="nhsuk-promo__link-wrapper" href="#">


                  <img class="nhsuk-promo__img" src="/public/images/working-for-change.png" alt="">


                  <div class="nhsuk-promo__content">
                    <h2 class="nhsuk-promo__heading">Working for change</h2>
                    <p class="nhsuk-promo__description">Change attitudes in the workplace.</p>


                  </div>
                </a>
              </div>
                  </div>
                  <div class="govuk-grid-column-one-half">
                    <div class="nhsuk-promo">
                            <a class="nhsuk-promo__link-wrapper" href="#">


                              <img class="nhsuk-promo__img" src="/public/images/regional-campaigns.png" alt="">

                              <div class="nhsuk-promo__content">
                                <h2 class="nhsuk-promo__heading">Regional campaigns</h2>
                                <p class="nhsuk-promo__description">Help people affected by hearing loss.</p>


                              </div>
                            </a>
                          </div>
                              </div>
</div>
{% endblock %}
